<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ts.main.mapper.CommentMapper">
	<resultMap id="BaseResultMap" type="com.ts.main.bean.model.Comment">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="bookid" property="bookid" jdbcType="BIGINT" />
		<result column="userid" property="userid" jdbcType="BIGINT" />
		<result column="comment" property="comment" jdbcType="VARCHAR" />
		<result column="createtime" property="createtime" jdbcType="BIGINT" />
		<result column="updatetime" property="updatetime" jdbcType="BIGINT" />
		<result column="isdel" property="isdel" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		id,userid, bookid, comment, createtime, updatetime, isdel
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from comment
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from comment
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.ts.main.bean.model.Comment"
		useGeneratedKeys="true" keyProperty="id">
		insert into comment (id,userid, bookid, comment,
		createtime, updatetime, isdel
		)
		values (#{id,jdbcType=BIGINT}, #{userid,jdbcType=BIGINT}, #{bookid,jdbcType=BIGINT},
		#{comment,jdbcType=VARCHAR},
		#{createtime,jdbcType=BIGINT}, #{updatetime,jdbcType=BIGINT}, #{isdel,jdbcType=INTEGER}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.ts.main.bean.model.Comment"
		useGeneratedKeys="true" keyProperty="id">
		insert into comment
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userid != null">
				userid,
			</if>
			<if test="bookid != null">
				bookid,
			</if>
			<if test="comment != null">
				comment,
			</if>
			<if test="createtime != null">
				createtime,
			</if>
			<if test="updatetime != null">
				updatetime,
			</if>
			<if test="isdel != null">
				isdel,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="userid != null">
				#{userid,jdbcType=BIGINT},
			</if>
			<if test="bookid != null">
				#{bookid,jdbcType=BIGINT},
			</if>
			<if test="comment != null">
				#{comment,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=BIGINT},
			</if>
			<if test="updatetime != null">
				#{updatetime,jdbcType=BIGINT},
			</if>
			<if test="isdel != null">
				#{isdel,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.ts.main.bean.model.Comment">
		update comment
		<set>
			<if test="bookid != null">
				bookid = #{bookid,jdbcType=BIGINT},
			</if>
			<if test="comment != null">
				comment = #{comment,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				createtime = #{createtime,jdbcType=BIGINT},
			</if>
			<if test="updatetime != null">
				updatetime = #{updatetime,jdbcType=BIGINT},
			</if>
			<if test="isdel != null">
				isdel = #{isdel,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.ts.main.bean.model.Comment">
		update comment
		set bookid = #{bookid,jdbcType=BIGINT},
		comment = #{comment,jdbcType=VARCHAR},
		createtime = #{createtime,jdbcType=BIGINT},
		updatetime = #{updatetime,jdbcType=BIGINT},
		isdel = #{isdel,jdbcType=INTEGER}
		where id = #{id,jdbcType=BIGINT}
	</update>
	
	<select id="getCommentByBookId" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select * from comment where bookid = #{before,jdbcType=BIGINT} and isdel &gt; -1 
	</select>
</mapper>