.uk-comment-test1 {
	border-color: rgba(45, 112, 145, .3);
	background-color: #92a9b5;
	color: #2d7091;
	text-shadow: 0 1px 0 #fff;
}
.uk-comment-primary .uk-comment-header {
	border-color: rgba(45, 112, 145, .3);
	background-color: #dcdbcf;
	color: #2d7091;
}
.uk-comment-header {
	filter: alpha(Opacity = 70);
	-moz-opacity: 0.7;
	opacity: 0.7;
	margin-bottom: 15px;
	padding: 10px;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	background: #fafafa;
}
.uk-comment-headert {
	filter: alpha(Opacity = 80);
	-moz-opacity: 0.8;
	opacity: 0.8;
	margin-bottom: 15px;
	padding: 10px;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
}
.itt {
	display: block;
	background: #e91e63;
	width: 10px;
	height: 8px;
	top: 0px;
	right: 0px;
	position: absolute;
}
.hjtq {
	display: inline;
}
.plk_div {
	padding: 10px;
	border-radius: 4px;
}
.hr_1 {
	border-top: 1px solid #635975;
}
.hr_2 {
	border-top: 1px solid #8a7777;
}
.mt_10{
margin-top: 20px;
}
.div_d1 {
	margin-left: 0px;
	margin-top: 10px;
	display: none;
}
.btn_d1{
float:right;position:relative;color:#d8a868;
}
.fbt_d1{
font-size: 13px;color: #999;
}
.avatar_1{
    width: 2.7rem;
    height: 2.7rem;
    cursor: pointer;
    border-radius: 50%;
    display: inline-block;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.p_dd{
word-wrap:break-word; word-break:normal; 
}
.tag_albumd{
	border: 1px #edd7b9 solid;
    color: #edd7b9;
    font-size: 12px;
    padding: 1px 3px;
    margin-right: 10px;
}

